<a href="https://colab.research.google.com/github/owais-963/learning-Project/blob/master/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:




1.   Python
2.   R
3.   Java
4.   C++

Some of the commonly used libraries used by Data Scientists include:





1.    Pnadas
2.   Scikit learn
3.   Tensorflow
4.   Matplotlib
5.   seaborn
6.   List item

Data Science Tools:


1.  Python IDLE
2.  Jupyter Notebook
3.  WEKA

Below are a few examples of evaluating arithmetic expressions in Python:

a=(12/3)*4
b=4+3-5
c=5-3+4

In [ ]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [ ]:
(200/60)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

Objectives:


*   Popular Languages
*   Commonly used Library
*   Data Science Tools
*   Python Expression

## Authors

Owais Ali